<br><br>
<h1 class="text-center">Editando Palestra</h1>
<%= render "form", conference: @conference %>

<br>

<div class="text-center">
  <%#= link_to "Show this conference", @conference %>
  <%= link_to "Voltar para conferência", conferences_path %>
</div>
