<div class="text-center">
  <p style="color: green"><%= notice %></p>

  <h1>Horário das Palestras</h1>
</div>

<div id="conferences" class="container">
  <%= link_to "Adicionar palestra", new_conference_path, class: "link-success" %><br>
  <%= render "conference", conferences: @conferences %>
</div>
