<br><br>
<div class="container">
  <h1 class="text-center">Nova Palestra</h1>
  <%= render "form", conference: @conference %>
  <br>
  <p class="text-center"><%= link_to "Voltar", conferences_path %></p>
</div>
