<p style="color: green" class="text-center"><%= notice %></p>

<%#= render @conference %>

<div class="text-center">
  <%= link_to "Editar essa Palestra", edit_conference_path(@conference), class: "link-warning" %> |
  <%= link_to "Voltar para conferência", conferences_path, class: "link-success" %>

  <%= button_to "Deletar essa palestra", @conference, method: :delete, class: "btn btn-danger" %>
</div>
